@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(30, 38%, 92%);
  font-family: 'Montserrat', sans-serif;
}
h1 {
  font-family: 'Fraunces', serif;
  font-size: 2.1rem;
  line-height: 1;
  font-weight: 600;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 600px;
  background-color: #fff;
  border-radius: 10px;
}

picture,
.container img {
  width: 100%;
  height: 100%;
}

.container img {
  object-fit: cover;
  display: block;
}

.content {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.perfume {
  letter-spacing: 5px;
  font-size: 0.75rem;
  color: hsl(228, 12%, 48%);
}

.desc {
  font-size: 0.875rem;
  line-height: 1.6;
  color: hsl(228, 12%, 48%);
}

.price-box {
  display: flex;
  align-items: center;
  gap: 16px;
}

.current-price {
  font-family: 'Fraunces', serif;
  font-size: 2rem;
  font-weight: 700;
  color: hsl(158, 36%, 37%);
}

.old-price {
  font-size: 0.875rem;
  color: hsl(228, 12%, 48%);
  text-decoration: line-through;
}

button {
  background-color: hsl(158, 36%, 37%);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 16px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

button:hover {
  background-color: hsl(158, 36%, 25%);
}

.cart {
  font-size: 1.2rem;
}

@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr;
    margin: 15px;
  }

  picture {
    height: 500px;
  }
}
